<div class="card-product">
  <%#= image_tag "http://source.unsplash.com/featured/?#{pet.species}&#{rand(1000)}"%>
  <%= image_tag "https://loremflickr.com/320/240/#{pet.species}"%>
  <div class="card-product-infos">
    <h2><%= pet.name %></h2>
    <p><%= pet.address %></p>
    <p>Health: <%= pet.status %></p>
    <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago</p>
  </div>
  <%= link_to '', pet_path(pet), class: 'card-link' %>
</div>
