<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Pets#index</h1>
    <%= link_to "â•", new_pet_path, class: 'btn btn-light' %>
  </div>
  <% @pets.each do |pet| %>
    <p><%= link_to pet.name, pet_path(pet) %></p>
    <p><%= pet.address %></p>
    <p><%= pet.species %></p>
    <p><%= pet.status %></p>
    <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago</p>
  <% end %>
</div>
